%h2 Password Reset
%p To reset your password link the following link:
%a{ href: edit_password_reset_url(@user.reset_token, email: @user.email) }
  = edit_password_reset_url(@user.reset_token, email: @user.email)
