.module{ rel: 'pomodori-timer', :'ng-controller' => 'PomodoriCtrl', :'ng-init' => "show(#{@pursuit.id})" }
  %h2 Pursuit: {{ pursuit.name }}
  %span Time remaining: {{ formattedTimeRemaining }}
  = link_to 'Pause', '#', { :'ng-click' => 'pause()' }
  = link_to 'Resume', '#', { :'ng-click' => 'resume()' }
