.intro-card{ rel: "landing" }
  .branding.branding--landing
    = image_tag "landing/logo.png", alt: "Aristotle", class: "branding__logo branding__logo--landing"
    %hr.branding__separator
    %p.branding__tagline Productivity. With a Vengeance.
    .branding-controls
      = link_to "Login", login_path, class: "btn btn-lg btn-clear branding-controls__control branding-controls__control--login"
      = link_to "Sign Up", sign_up_path, class: "btn btn-lg btn-clear branding-controls__control branding-controls__control--signup"
