.content-panel {
  background-color: #fff;
  margin-bottom: 18px;
  padding: 18px 15px 18px 15px;
  border: 1px solid #eeeeee;
  border-radius: 1px;
}

.panel-name {
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
