.table-layout {
  &__row {
    height: 100%;
    width: 100%;
    background-color: #f1f4f9;

  }
}

.table-row {
  &__cell {
    &--right {
      width: 100%;
      position: relative;
      vertical-align: top;
    }
  }
}
