.form {
  &__label {
    font-size: 13px;
    display: block;
  }

  &__input {
    padding: 7px 8px;
    width: 100%;
    font-size: 13px;
    min-height: 34px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
}
