@import "../../modules";

.branding {
  width: 460px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -133px 0 0 -230px;

  &__logo {
    width: 450px;
  }

  &__separator {
    width: 150px;
    border: 1px solid $cocoa-bean;
  }

  &__tagline {
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    color: $cocoa-bean;
    font-family: $oswald;
  }
}
