%table
  %thead
    %tr 
      %th Name
      %th Default Pomodoro Length
      %th Cumulative Time
  %tbody
    - @pursuits.each do |pursuit|
      %tr.pursuit{ :'data-pursuit-id' => pursuit.id, :'data-pursuit-name' => pursuit.name }
        %td= pursuit.name
        %td.default-pomodoro-length= convert_total_seconds_of(pursuit.default_pomodoro_length)
        %td= pursuit.cumulative_time
