.content-panel.content-panel--first.calendar.col-md-4{ rel: "pursuit-show" }
  %h3.panel-name Contributions
  %h4.month-name= Date.today.strftime "%B"
  %ul.calendar-row.day-names
    %li Sun
    %li Mon
    %li Tues
    %li Wed
    %li Thurs
    %li Fri
    %li Sat
  - @calendar.dates.each do |week|
    %ul.calendar-row
      - week.each do |day|
        %li{ class: date_classes(day, week) }= calendar_date_display day
.content-panel.clock.col-md-4
  %h3.panel-name Your clock
  = link_to "Start", new_user_pursuit_pomodoro_path(@pursuit.id), class: "btn btn-xs btn-clear branding-controls__control branding-controls__control--small"
