@import "../modules";

// --== Block Modifiers ==-- //
.branding {
  position: absolute;
  top: 50%;
  left: 50%;

  &--landing {
    width: 460px;
    margin: -133px 0 0 -230px;
  }

  &--login {
    width: 280px;
    margin: -124px 0 0 -140px;
  }

  &--signup {
    width: 400px;
    margin: -302px 0 0 -200px;
  }
}


// --== Elements ==-- //
.branding {
  &__logo {
    display: block;
    margin: 0 auto;
    width: 450px;

    &--login {
      width: 250px;
      margin-bottom: 18px;
    }
  }

  &__separator {
    width: 150px;
    border: 1px solid $cocoa-bean;
  }

  &__tagline {
    font-size: 1.4em;
    text-align: center;
    margin: 0;
    color: $cocoa-bean;
    font-family: $oswald;
    font-weight: 300;
  }
}
